.jumbotron {
    background-image: url("../img/burgerpic2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000000;
    color: #ffffff;
    margin-top: 3%;
  }
  #newburger {
    color: #5c5c5c;
  }
  #leftside {
    background-color: #5c5c5c;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #rightside {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  .clearfix {
    overflow: auto;
  }
  
  img {
    position: absolute;
    bottom: 15;
    right: 15%;
    width: 200px;
    height: 150px;
  }